.App {
  max-width: 600px;
  margin: 30px auto;
}
.App footer {
  font-size: 11px;
  margin: 10px 0;
  text-align: center;
  color: rgb(62, 125, 176);
}
.App a {
  color: orange;
  text-decoration: none;
  font-weight: 500;
  text-transform: uppercase;
}
