body {
  background: #90caf9;
}
.Weather {
  border: 1px solid #d0e4f7;
  font-family: Arial, Helvetica, sans-serif;
  padding: 16px;
  border-radius: 4px;
  color: #0d47a1;
}
.Weather h1 {
  font-size: 34px;
  font-weight: 100;
  margin: 20px 0 0 0;
  line-height: 29px;
}
.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}
.Weather img {
  height: 64px;
  width: 64px;
  margin-right: 10px;
  display: inline-block;
}
.Weather .temperature {
  font-weight: bold;
  color: #fb8c00;
  font-size: 64px;
  line-height: 64px;
  font-weight: 400;
}
.Weather .unit {
  color: #fff3e0;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -34px;
}
